<h1>Job Portal</h1>
<div class="login">
    

    <div>
    <h3>Login</h3>
    <form>

    <div>
    <label for="name">Name:</label>
    <input required type="text"><br><br>

    <label for="password">Password:</label>
    <input type="password"><br><br>

    <label for="email">Email:</label>
    <input required type="text"><br><br>

    <label for="role">Role:</label>
<select name="role">

<option value="employer">Employer</option>
<option value="candidate">Candidate</option>

</select><br><br>
    </div>

    <button>Submit</button><br><br>

    <span>New user?
    <a routerLink="/signUp">signUp</a></span>

    </form>
    </div>
    </div>

    <div class="register">
        <div>
            <h3>Register</h3>
        <form>

            <div>
            <label for="name">Full Name:</label>
            <input required type="text"><br><br>

            <label for="email">Email:</label>
            <input required type="text"><br><br>

            <label for="phone">Mobile:</label>
            <input required type="tel"><br><br>

            <label for="username">Username:</label>
            <input type="text"><br><br>
                
            <label for="password">Password:</label>
            <input type="password"><br><br>
        
        
            <label for="role">Role:</label>
            <input type="text"><br><br>
            </div>
        
            <button>Submit</button><br><br>
            </form>
        
    </div>
</div>